.header {
    height: 100vh;
    background-image: linear-gradient(to right, $color-secondary-green, $color-primary);
    background-size: cover;
    background-position: top;
    position: relative;
}